* {
  margin: 0;
  padding: 0;
}
:root {
  --main-bg: #ffffff;
  --second-bg: #f3f3f3;
  --primary-color: #000000;
  --secondary-color: #333333;
  --box-shadow: rgba(0, 0, 0, 0.3);
}
.container {
  min-height: 100vh;
  width: 100vw;
  background: var(--second-bg);
  display: flex;
}
.card {
  margin: 20px;
  padding: 40px;
  width: calc(50% - 40px);
  background: var(--main-bg);
  border-radius: 10px;
  box-shadow: var(--box-shadow) 0 0 5px;
}
.first-card {
  display: flex;
  align-items: center;
  justify-content: center;
}
.first-card > .input-group > input,
.first-card > .input-group > button {
  max-height: 44px;
  border-radius: 10px;
  border: var(--secondary-color) 1px solid;
  padding: 4px 16px;
}
.first-card > .input-group > button {
  cursor: pointer;
}
